@font-face {
  font-family: 'iconfont';
  src: url('../iconfont/iconfont.eot');
  src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../iconfont/iconfont.woff') format('woff'),
  url('../iconfont/iconfont.ttf') format('truetype'),
  url('../iconfont/iconfont.svg#iconfont') format('svg');
}
body{    
	font-family: "Volvo Sans Regular","Arial Narrow","Helvetica Neue",Helvetica,Roboto,Arial,"微软雅黑","Microsoft YaHei",STHeiti,"黑体",Hei,SimHei,sans-serif;
}
a{
	text-decoration: none !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.header{
	background-color:#161618; 
}
a:hover{
	color: #E6E6E6;
}
ul li{
	list-style: none !important;
}
span{
	font-family:"iconfont"; 
}
.container-fluid{
	padding: 0 !important;
}
.row{
	margin: 0 !important;
}
/*头部开始*/
.header{
	position: fixed;
	z-index: 100;
	width: 100%;
	background-color: #161618;	
}
.header .left{
	float: left;
}
.header .right{
		float: right;
		padding-right: 42px;
}
.header .left .menu{
	line-height: 50px;
	color: #E6E6E6;
	cursor:pointer;
	padding-left: 15px;
    font-size: 17px
}
.header .logo{
	position: absolute;
	left: 50%;
	transform:translate(-50%);
}
.header .logo img{
	width: 36px;
	margin-top: 7px;
	cursor:pointer;
}
.header .left .icon1{
	color: #E6E6E6; 
	padding-left: 42px;
	line-height: 50px;
	font-size: 30px;
	cursor:pointer;
}
.header .nav2{
	position: absolute;
	top: 50px;
	width: 100%;
	background-color: #F2F2F2;
	z-index: 999;
}
.header .nav2 ul{
	padding-left:15px; 
	padding-right: 15px;
}
.header .nav2 ul li{
	line-height: 60px;
	border-bottom: 1px solid #ccc;
}
.header .nav2 ul li a{
	font-size: 20px;
	color: #666;
}
.header .nav2 ul li:hover a{
	color: #5b7f95;
}
.header .nav2 ul li a span{
	position: absolute;
	right: 15px;
}
.header .nav2{
	display: none;
}
/*头部结束*/
/*主体开始*/
.main{
	position: relative;
	background-color: black;
}
.main img{
	z-index: -9999;
}
.main div{
	padding-left: 20px;
}
.main>div:first-child{
	padding-top: 30px;
	box-shadow: 
}
.main>div:last-child{
	padding-bottom: 50px;
}
.main .title h3{
	font-size: 16px;
	color: white;	
}
.main .title h3,.main .title h1{
	margin-top: 0;
	margin-bottom: 0;
	line-height: 50px;
}
.main .title h1{
	font-size: 40px;
	color: white;
}
.main .button{
	padding-top: 20px;
}
.main .button button{
	border: none;
	background-color: transparent;
	color: white;
	cursor: pointer;
}
.main .button:hover button{
	color: #003057;
}
/*主体结束*/
/*尾部开始*/
.footer{
	background-color: #003057;
	padding-bottom: 30px;
}
.footer ul{
	padding-left: 0;
	margin-top: 20px;
}
.footer ul li{
	line-height: 30px;
}
.footer ul li a,.footer .icon span{
	color: white;
}
.footer ul li:hover a,.footer .icon span:hover,.footer div:nth-child(3)
span:hover,.footer div:nth-child(5) a:hover{
	color: #ccc;
}
.footer .icon span:first-child{
	font-weight: bold;
}
.footer .icon span:nth-child(3){
	font-weight: bold;
}
.footer .icon span:first-child~span{
	font-size: 18px;
}
.footer .icon span:not(:last-child){
	padding-right: 20px;
}
.footer div:nth-child(3) span{
	color: white;
}
.footer div:nth-child(3){
	padding: 20px 0;
}
.footer div:nth-child(3) span:nth-child(2){
	font-weight: bold;
}
.footer div:nth-child(4){
	padding: 0 10px;
}
.footer div:nth-child(4) span{
	color: #bdd6e6;
	font-size: 10px;
}
.footer div:nth-child(5){
	padding: 10px 0;
}
.footer div:nth-child(5) a{
	border-left: 1px solid #ccc;
	color: white;
	padding: 10px;
	font-size: 16px;
}
.footer div:nth-child(6) img{
	width: 193px;
	height: 15px;
}
.footer div:nth-child(7){
	margin-top: 40px;
}
.footer div a button{
	width: 125px;
	height: 47px;
	background-color: transparent;
	border: 1px solid white;
	color: white;
}
.footer div:hover button{
	background-color: white;
	color: #003057;
}
/*尾部结束*/
@media screen and (min-width: 768px) and (max-width: 1200px){
	/*头部开始*/
	.header .logo img{
		width: 51px;
		margin-top: 9px;
		cursor:pointer;
	}
	.header .left .icon1{
		color: #E6E6E6; 
		padding-left: 42px;
		line-height: 70px;
		font-size: 30px;
		cursor:pointer;
	}
	.header .nav2{
		top: 70px;
	}
	.header .nav2 ul>li{
		border-bottom: none;
		line-height: 70px;
	}
	.header .nav2 ul li a{
		font-size: 30px;
		letter-spacing: 1px;
	}
	.header .nav2 ul li:first-child{
		margin-top: 20px;
	}
	/*头部结束*/
	/*主体开始*/
	.main .title,.main .button{
		position: absolute;
		right: 30px;
	}
	.main .title{
		top: 35%;
	}
	.main .title h3{
		font-size: 22px;
		color: white;
		text-align: right;
	}
	.main .title h1{
		margin-top: 10px;
		font-size: 70px;
		color: white;
	}
	.main div{
		padding-left: 20px;
		background-color: transparent;	
	}
	.main .button{
		top: 60%;
	}
	.main .button button{
		width: 125px;
		height: 50px;
		background-color: rgba(255,255,255,.3);
		border: 1px solid white;
		cursor:pointer;
	}
	.main .button:hover button{
		background-color: white;
	}
	/*主体结束*/
	/*尾部开始*/
	.footer ul li{
		display: inline-block;
		padding: 25px;
	}
	.footer div:nth-child(3){
		padding: 40px;
	}
	.footer div:nth-child(5){
		padding-bottom: 40px;
	}
	/*尾部结束*/
}
@media screen and (min-width:1200px) {
	/*头部开始*/
	.header{
		height: 70px;
	}
	.header .logo img{
		width: 51px;
		margin-top: 9px;
		cursor:pointer;
	}
	.header .left .list1>li{
		float: left;
	}
	.header .right .list2>li{
		float: right;
	}
	.header .left .list1>li,.header .right .list2>li{
		font-size: 16px;
		padding: 0px 15px; 
	}
	.header .left .list1>li>a,.header .right>.list2>li>a{
		color: #E6E6E6; 
		line-height: 68px;
		
		display: inline-block;
	}
	.header .left .list1>li:hover>a,.header .right .list2>li:hover>a{
		border-bottom:2px solid white;
	}
	.header{
		position: fixed;
		z-index: 100;
	}
	.header .list1 .goods{
		width: 100%;
		position: absolute;
		padding-bottom: 30px;
		top: 70px;
		background-color: #ECECEC;
		left: 0px;
		padding: 20px 13%;
		z-index: 9999999;
	}
	.header .list1 .goods .lie1-ul1{
		width: 154px;
	}
	.header .list1 .goods .lie1-ul1{
		padding-left: 0;
		position: relative;
	}
	.header .list1 .goods .lie1 .lie1-ul1 li:hover a{
		color:#5b7f95;
	}
	.header .list1 .goods .lie1{
		width: 155px;
		float: left;
		margin-right: 30px;
	}
	.header .list1 .goods .lie1 span,.header .left .list1 li .nav-aside span,
	.header .left .list1 li .nav-aside1 span{
		color: #5b7f95;
		font-size: 10px;
		display: block;
		letter-spacing: 1px;
		border-bottom: 1px solid #5b7f95;
	}
	.header .list1 .goods .lie1>h5{
		color: #003057;
		font-weight: bold;
	}
	.header .list1 .goods .lie1 img{
		width: 154px;
		height: 55px;
	}
	.header .list1 .goods .lie1 .min-a{
		font-size: 10px;
		color: #003057;
	}
	.header .list1 .goods .lie1-ul1{
		padding-bottom: 20px;

	}
	.header .list1 .goods .lie1-ul1 .dtl{
		position: absolute;
		top: 0;
		display: none;
	}
	.header .list1 .goods .lie1-ul1:hover .tit{
		visibility: hidden;
	}
	.header .list1 .goods .lie1-ul1:hover .dtl{
		position: absolute;
		display: block;
	}
	.header .list1 .goods .lie1 .aside li{
		line-height: 35px;
	}
	.header .list1 .goods .lie1 .aside li:first-child{
		padding-top: 15px;
	}
	.header .list1 .goods .lie1 .aside li a{
		font-size: 23px;
		color: #003057;
	}
	.header .left .list1 li .goods{
		display: none;
	}
	.header .left .list1 li:hover .goods{
		display: block;
	}
	.header .left .list1 li .nav-aside,
	.header .left .list1 li .nav-aside1{
		position: absolute;
		top: 70px;
		left: 0;
		width: 100%;
		padding: 20px 13%;
		padding-bottom: 30px;
		background-color: #ECECEC;
		z-index: 999999;
	}
	.header .left .list1 li .nav-aside ul,
	.header .left .list1 li .nav-aside1 div ul{
		padding-left: 0;
	}
	.header .left .list1 li .nav-aside span,
	.header .left .list1 li .nav-aside1 div span{
		display: block;
		width: 270px;
	}
	.header .left .list1 li .nav-aside ul li,
	.header .left .list1 li .nav-aside1 div ul li{
		line-height: 38px;
		font-size: 23px;
	}
	.header .left .list1 li .nav-aside ul li:first-child,
	.header .left .list1 li .nav-aside1 ul li:first-child{
		margin-top: 20px;
	}
	.header .left .list1 li .nav-aside ul li a,
	.header .left .list1 li .nav-aside1 div ul li a{
		color: #003057;
	}
	.header .left .list1 li .nav-aside ul li:hover a,
	.header .left .list1 li .nav-aside1 div ul li:hover a{
		color:#5b7f95; 
	}
	.header .left .list1 li .nav-aside,
	.header .left .list1 li .nav-aside1{
		display: none;
	}
	.header .left .list1 li:hover .nav-aside,
	.header .left .list1 li:hover .nav-aside1{
		display: block;
	}
	.header .left .list1 li>.nav-aside1>div{
		float: left;
		margin-right: 25px;
	}
	/*头部结束*/
	/*主体开始*/
	.main .title,.main .button{
		position: absolute;
		right: 30px;
	}
	.main .title{
		top: 35%;
	}
	.main .title h3{
		font-size: 22px;
		color: white;
		text-align: right;
	}
	.main .title h1{
		margin-top: 10px;
		font-size: 70px;
		color: white;
	}
	.main div{
		padding-left: 20px;
		background-color: transparent;	
	}
	.main .button{
		top: 50%;
	}
	.main .button button{
		width: 125px;
		height: 50px;
		background-color: rgba(255,255,255,.3);
		border: 1px solid white;
		cursor:pointer;
	}
	.main .button:hover button{
		background-color: white;
	}
	/*主体结束*/
	/*尾部开始*/
	.footer ul li{
		display: inline-block;
		padding: 25px;
	}
	.footer div:nth-child(3){
		padding: 40px;
	}
	.footer div:nth-child(5){
		padding-bottom: 40px;
	}
	/*尾部结束*/
}